*{
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    overflow-x: hidden;   
}
.top-bar{
    background-image: url(./images/bg-hero-desktop.svg);
    background-blend-mode: screen;
     background-attachment: fixed;
    background-color: rgb(214, 238, 243);
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 15px 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.huddle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
} 
.icon .logo{
    height: auto;
    width: 80%;
}
.head-text {
    background-color:white;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-size: 100%;
    font-weight: bold;
    padding: 10px 30px;
    box-shadow: 0px 2px rgb(197, 229, 240);
}
.community {
    display: flex;
}
.text-in-header {
    margin: 20px 50px 0 0;
}
.build-text h3{
    text-transform: capitalize;
    font-size: 36px;
}
.huddle-in-header p{
    font-size: 18px;
    color: rgb(148, 147, 147);
}
.get-started-text {
    padding: 20px 0px;
    color: lavender;
}
.get-started {
    background-color:rgb(248, 91, 178);
    text-align: center;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 30px;
    width: 250px;
    color: white;
}

.head-img {
    height: auto;
    width: 600px;
    object-fit: contain;
}
.body-container {
    height: 100%;
    width: 100%;
}
.adv1, .adv2, .adv3 {
    display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
    padding: 2rem 2rem;
    margin: 3rem 3rem;
    border: none;
    border-radius: 8px;
    box-shadow:2px 2px 4px 4px rgba(227, 239, 243, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
    width: 90%;
    height: 100%; 
    flex-basis: 90%;
    flex: 1;
}
.illus1, .illus3 {
    width: 250px;
    height: auto;
}
.illus2 {
    width: 280px;
    height: auto;
    padding: 1rem 0rem;
}
.text1 p {
    color: grey;
    font-size: 16px;
}
.text1 h3{
    font-size: 26px;
}

.footer-container {
    background-color: rgb(6, 27, 27);
    padding: 15px 50px;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 35%;
    flex-wrap: wrap;
    z-index: -1;
}
.floating-box {
    position: absolute;
    width: 50%;
    z-index: 1;
    background-color: white;
    top: -20%;
    box-shadow:0px 0px 4px 0px rgba(227, 239, 243, 0.9);
    left: 25%;
    height: 30%;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.floating-box h3 {
    font-size: 26px;
    text-transform: capitalize;
}
.floating-box .footer-btn {
    background-color:rgb(248, 91, 178);
    text-align: center;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 40px;
    width: 40%;
    color: white;
    box-shadow: 2px 2px 4px 4px rgba(227, 239, 243, 0.9);
}
.logo-footer img{
     padding: 5px 10px;
    height: auto;
    width: 25%;
    margin: 10% 0 2%;
}
 .main-footer{
    padding:0;
    margin: 0;
    position: relative;
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex: 1;
} 
.footer-text {
    color: white;
    padding: 0 20px;
} 
 ul{
    list-style: none;
    padding: 0rem 3rem;
    line-height: 40px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
} 
.social-media-text p {
    color: white;
    font-size: 12px;
    margin-top: 6rem;
    line-height: 15px;
}
.address, .number, .mail {
    display: flex;
}
 .contact-icon {
    height: 20px;
    margin-top: 1rem;
}
.social-media {
    padding: 25px 0 80px;
    display: flex;
}
.social-media i {
    font-size: 24px;
    color: white;
    padding: 0 10px;
}
.social-media-container {
     margin-left: 3rem;
     
}

@media only screen and (max-width: 320px){
.top-bar{
    padding: 5px 10px;
    height: 100%;
    width: 320px;
}
.huddle {
    /* display: flex; */
    justify-content: space-between;
    margin: 1rem 0 2rem;
} 
.icon .logo{
    height: auto;
    width: 100px;
}
.head-text {
    text-align: center;
    font-size: 10px;
    padding: 3px 10px; 
}
.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.text-in-header {
    margin: 5px 8px 0 0;
}
.build-text h3{
    text-transform: capitalize;
    font-size: 20px;
}
.huddle-in-header p{
    font-size: 12px;
    color: black;
}
.get-started-text {
    padding: 10px 0px;
    color: lavender;
    display: flex;
    justify-content: center;
    text-align: center;
}
.get-started {
    text-align: center;
    font-size: 12px;
    padding: 10px 10px;
    width: 180px;
    color: white;
}
.head-img {
    height: auto;
    width: 220px;
}
.body-container {
    height: 100%;
    width: 320px;
}
.adv2 {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    margin: 15px 20px 20px 15px;
    width: 90%;
    height: 100%; 
    flex-basis: 80%;
}
.adv1, .adv3{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    margin: 15px 20px 20px 15px;
    width: 90%;
    height: 100%; 
    flex-basis: 80%;
}
.illus1 {
    width: 200px;
    height: auto;
}
.illus2 {
    width: 200px;
    height: auto;
}
.illus3 {
    width: 200px;
    height: auto;
}
.text1 p {
    color: grey;
    font-size: 12px;
}
.text1 h3{
    font-size: 22px;
}

.footer-container {
    background-color: rgb(6, 27, 27);
    padding: 20px 20px;
    align-items: center;
    position: relative;
    width: 320px;
    height: 100%;
    margin-top: 12rem;
    flex-wrap: wrap;
    z-index: -1;
    flex-basis: 100%;
}
.floating-box {
    position: absolute;
    width: 280px;
    z-index: 1;
    background-color: white;
    top: -10%;
    box-shadow:0px 0px 4px 0px rgba(227, 239, 243, 0.9);
    left: 5%;
    height: 20%;
    border-radius: 10px;
    padding: 5px 5px;
}
.floating-box h3 {
    font-size: 12px;
    text-transform: capitalize;
}
.floating-box .footer-btn {
    font-size: 10px;
    padding: 5px 5px;
    width: 50%;
}
.logo-footer img{
    padding: 10px 2px;
    margin: 40px 0 0;
    height: auto;
    width: 38%;
}
 .main-footer{
    padding:0;
    margin: 0;
    position: relative;
    display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   flex: 1;
} 
.footer-text {
    color: white;
    padding: 5 5px;
    font-size: 10px;
} 
 ul{
    list-style: none;
    padding: 0rem .2rem;
    line-height: 30px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 12px;
} 
.social-media-text p {
    color: white;
    font-size: 10px;
    margin-top: 1rem;
    line-height: 15px;
}
.address, .number, .mail {
    display: flex;
}
 .contact-icon {
    height: 12px;
    margin: 10px 0px 0;
}
.social-media {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.social-media-container {
     margin-left: .5rem;
}
}
@media only screen and (max-width: 560px){
    .top-bar{
    padding: 5px 10px;
    height: 100%;
    width: 100%;
}
.huddle {
    margin: 1rem 0 1rem;
} 
.icon .logo{
    height: auto;
    width: 100px;
}
.head-text {
    text-align: center;
    font-size: 12px;
    padding: 3px 10px; 
}
.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.text-in-header {
    margin: 5px 8px 0 0;
}
.build-text h3{
    text-transform: capitalize;
    font-size: 24px;
}
.huddle-in-header p{
    font-size: 12px;
    color: black;
}
.get-started-text {
    padding: 10px 0px;
    color: lavender;
    display: flex;
    justify-content: center;
    text-align: center;
}
.get-started {
    text-align: center;
    font-size: 14px;
    padding: 10px 10px;
    width: 180px;
    color: white;
}
.head-img {
    height: auto;
    width: 70%;
}
.body-container {
    height: 100%;
    width: 100%;
}
.adv2 {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem .5rem;
    margin: 15px 10px 10px 15px;
    width: 90%;
    height: 100%; 
    flex-basis: 90%;
}
.adv1, .adv3{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem .5rem;
    margin: 15px 10px 10px 15px;
    width: 90%;
    height: 100%; 
    flex-basis: 90%;
}
.illus1 {
    width: 200px;
    height: auto;
}
.illus2 {
    width: 60%;
    height: auto;
}
.illus3 {
    width: 60%;
    height: auto;
}
.text1 p {
    color: grey;
    font-size: 12px;
}
.text1 h3{
    font-size: 22px;
}

.footer-container {
    background-color: rgb(6, 27, 27);
    padding: 20px 20px;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 9rem;
    flex-wrap: wrap;
    z-index: -1;
    flex-basis: 100%;
}
.floating-box {
    position: absolute;
    width: 70%;
    z-index: 1;
    background-color: white;
    top: -10%;
    box-shadow:0px 0px 4px 0px rgba(227, 239, 243, 0.9);
    left: 15%;
    border-radius: 10px;
    padding: 5px 5px;
}
.floating-box h3 {
    font-size: 16px;
    text-transform: capitalize;
}
.floating-box .footer-btn {
    font-size: 12px;
    padding: 5px 5px;
    width: 50%;
}
.logo-footer img{
    padding: 20px 2px;
    margin: 5rem 0 0;
    height: auto;
    width: 38%;
}
 .main-footer{
    padding:0;
    margin: 0;
    position: relative;
    display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   flex: 0;
} 
.footer-text {
    color: white;
    padding: 5 10px;
    font-size: 14px;
} 
 ul{
    list-style: none;
    padding: 0rem;
    line-height: 25px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 14px;
} 
.social-media-text p {
    color: white;
    font-size: 10px;
    margin-top: 1rem;
    line-height: 15px;
    text-align: center;
}
.address, .number, .mail {
    display: flex;
}
 .contact-icon {
    height: 12px;
    margin: 10px 0px 0;
}
.social-media {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.social-media i {
    font-style: 20px;
}
.social-media-container {
     margin-left: .5rem;
}
}
@media only screen and (max-width: 776px){
    .top-bar{
    padding: 5px 10px;
    height: 100%;
    width: 100%;

}
.huddle {
    justify-content: space-between;
    margin: 1rem 0 2rem;
} 
.icon .logo{
    height: auto;
    width: 50%;
}
.head-text {
    text-align: center;
    font-size: 14px;
    padding: 3px 10px; 
}
.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.text-in-header {
    margin: 5px 8px 0 0;
}
.build-text h3{
    text-transform: capitalize;
    font-size: 24px;
}
.huddle-in-header p{
    font-size: 12px;
    color: black;
}
.get-started-text {
    padding: 10px 0px;
    color: lavender;
    display: flex;
    justify-content: center;
    text-align: center;
}
.get-started {
    text-align: center;
    font-size: 13px;
    padding: 10px 10px;
    width: 180px;
    color: white;
}
.head-img {
    height: auto;
    width: 60%;
}
.body-container {
    height: 100%;
    width: 100%;
}
.adv2 {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem .5rem;
    margin: 15px 10px 10px 15px;
    width: 90%;
    height: 100%; 
    flex-basis: 80%;
}
.adv1, .adv3{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem .5rem;
    margin: 15px 10px 10px 15px;
    width: 90%;
    height: 100%; 
    flex-basis: 90%;
}
.illus1 {
    width: 60%;
    height: auto;
}
.illus2 {
    width: 60%;
    height: auto;
}
.illus3 {
    width: 200px;
    height: auto;
}
.text1 p {
    color: grey;
    font-size: 12px;
}
.text1 h3{
    font-size: 22px;
}

.footer-container {
    background-color: rgb(6, 27, 27);
    padding: 15px 50px;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 25%;
    flex-wrap: wrap;
    z-index: -1;
    flex-basis: 100%;
}
.floating-box {
    position: absolute;
    width: 60%;
    z-index: 1;
    background-color: white;
    top: -20%;
    box-shadow:0px 0px 4px 0px rgba(227, 239, 243, 0.9);
    left: 25%;
    height: 30%;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.floating-box h3 {
    font-size: 22px;
    text-transform: capitalize;
}
.floating-box .footer-btn {
    background-color:rgb(248, 91, 178);
    text-align: center;
    border: none;
    border-radius: 30px;
    font-size: 12px;
    padding: 10px 10px;
    width: 60%;
    color: white;
    box-shadow: 2px 2px 4px 4px rgba(227, 239, 243, 0.9);
}
.logo-footer img{
     padding: 5px 10px;
    height: auto;
    width: 35%;
    margin: 15% 0 2%;
}
 .main-footer{
    padding:0;
    margin: 0;
    position: relative;
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex: 1;
} 
.footer-text {
    color: white;
    padding: 0 20px;
    font-size: 12px;
} 
 ul{
    list-style: none;
    padding: 0rem 1rem;
    line-height: 40px;
}
ul li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-style: 10px;
} 
.social-media-text p {
    color: white;
    font-size: 10px;
    margin-top: 1rem;
    line-height: 15px;
}
.address, .number, .mail {
    display: flex;
}
 .contact-icon {
    height: 15px;
    margin-top: 1rem;
}
.social-media {
    padding: 25px 0 80px;
    display: flex;
}
.social-media i {
    font-size: 24px;
    color: white;
    padding: 0;
    margin-right: 2rem;
}
.social-media-container {
     margin-left: .5rem;
     
}
}
@media only screen  and (max-width: 992px){
    
}
@media only screen and (max-width: 1200px){
    
}