*{
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}
.top-bar{
    background-image: url(./images/bg-hero-desktop.svg);
    background-blend-mode: screen;
     background-attachment: fixed;
    background-color: rgb(214, 238, 243);
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 15px 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.huddle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
} 
.icon .logo{
    height: auto;
    width: 180px;
}
.head-text {
    background-color:white;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    box-shadow: 0px 2px rgb(197, 229, 240);
}
.community {
    display: flex;
}
.text-in-header {
    margin: 20px 50px 0 0;
}
.build-text h3{
    text-transform: capitalize;
    font-size: 36px;
}
.huddle-in-header p{
    font-size: 18px;
    color: rgb(148, 147, 147);
}
.get-started-text {
    padding: 20px 0px;
    color: lavender;
}
.get-started {
    background-color:rgb(248, 91, 178);
    text-align: center;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 30px;
    width: 250px;
    color: white;
}

.head-img {
    height: auto;
    width: 600px;
    object-fit: contain;
}
.body-container {
    height: 100%;
    width: 100%;
}
.adv {
    display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
    padding: 2rem 2rem;
    margin: 3rem 3rem;
    border: none;
    border-radius: 8px;
    box-shadow:2px 2px 4px 4px rgba(227, 239, 243, 0.9);
    background-color: rgba(255, 255, 255, 0.2);
    width: 90%;
    height: 100%; 
    flex-basis: 90%;
    flex: 1;
}
.illus1 {
    width: 250px;
    height: auto;
}
.illus2 {
    width: 280px;
    height: auto;
    padding: 1rem 0rem;
}
.text1 p {
    color: grey;
    font-size: 16px;
}
.text1 h3{
    font-size: 26px;
}

.footer-container {
    background-color: rgb(6, 27, 27);
    padding: 15px 50px;
    align-items: center;
    position: relative;
    width: 100%;
    height: 550px;
    margin-top: 25%;
    flex-wrap: wrap;
    z-index: -1;
    flex-basis: 100%;
}
.floating-box {
    position: absolute;
    width: 50%;
    z-index: 1;
    background-color: white;
    top: -20%;
    box-shadow:0px 0px 4px 0px rgba(227, 239, 243, 0.9);
    left: 25%;
    height: 30%;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.floating-box h3 {
    font-size: 26px;
    text-transform: capitalize;
}
.floating-box .footer-btn {
    background-color:rgb(248, 91, 178);
    text-align: center;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    padding: 10px 40px;
    width: 40%;
    color: white;
    box-shadow: 2px 2px 4px 4px rgba(227, 239, 243, 0.9);
}
.logo-footer img{
     padding: 5px 10px;
    height: auto;
    width: 25%;
    margin: 10% 0 2%;
}
 .main-footer{
    padding:0;
    margin: 0;
    position: relative;
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex: 1;
} 
.footer-text {
    color: white;
    padding: 0 20px;
} 
 ul{
    list-style: none;
    padding: 0rem 3rem;
    line-height: 40px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
} 
.social-media-text p {
    color: white;
    font-size: 12px;
    margin-top: 6rem;
    line-height: 15px;
}
.address, .number, .mail {
    display: flex;
}
 .contact-icon {
    height: 20px;
    margin-top: 1rem;
}
.social-media {
    padding: 25px 0;
   
}
.social-media-container {
     margin-left: 3rem;
}